



.img {
    width: 250px;
    height: 320px;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: -1px -1px 22px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px -1px 22px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px -1px 22px 0px rgba(50, 50, 50, 0.75);
}

.general {
    width: 93%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title {
    font-size: 14px;
    width: 150px;
    border-radius: 0 0 10px 10px;
}

.divs {
    background-color: white;
    margin: 1em;
    border-radius: 10px;
}
.infoFilm {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}
.reting {
    border: 1px solid #5DB9E5;
    border-radius: 5px;
    width: 40px;
    height: 25px;
    margin: 5px;
}
.btn_more {
    width: 220px;
    height: 50px;
    border: 1px solid #5DB9E5;
    color: #5DB9E5;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
.btn_more:hover {
    background-color: #5DB9E5;
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #5DB9E5;
    width: 90%;
    height: 50px;
    margin: 50px auto 10px auto;
    
    
}
.button {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.buttonNav {
    height: 50px;
    font-size: 22px;
    color: #5DB9E5;
    border: none;
    background-color: #F7F7F8;
    border-bottom: 1px solid #5DB9E5;
    font-size: 25px;
    text-align: left;
    border-bottom: 1px solid #5DB9E5;
    text-align: center;

}
.square {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    margin: 1px;
    border-radius: 2px;

}



.paparentsSquare {
    width: 35px;
    height: 34px;
    display: flex;
    flex-wrap: wrap;
    border: none;
}
.paparentsSquare div {
    background-color: #5DB9E5;
}

#isRowSquare div{
    background-color: #DEDFE0;
}
.colum {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#activeColum div {
    background-color: #DEDFE0;
}
.paparentsSquareTu{
    width: 75px;
    display: flex;
    justify-content: space-between;
    padding: 1px;
    align-items: center;
}

.squareTu {
    width: 33px;
    height: 15px;
    background-color: #5DB9E5;
    display: flex;
    justify-content: space-between;
    margin: 1px;
    border-radius: 2px
    
}


.isColum {
    width: 100%;
    height: 320px;
    display: flex;
    text-align: start;
    margin: 15px 0 15px 0;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: -1px -1px 22px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px -1px 22px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px -1px 22px 0px rgba(50, 50, 50, 0.75);
}

.isColumImg {
    width: 250px;
    height: 320px;
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow: -1px -1px 22px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px -1px 22px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px -1px 22px 0px rgba(50, 50, 50, 0.75);
}

.isColumFulInfo {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.isColumFulInfo h3 {
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    text-align: start;


}

.isColumFulInfo span {
    width: 70px;
    height: 40px;
    font-size: 30px;
    color: #5DB9E5;
}
